<a href="/">&lt; home</a> - <a href="/checkout/pay">pay &gt;</a>
<h1>🛒 Cart</h1>
<a href="/product/eicher">
    Eicher Diesel 215/16<br>
    <img src="https://mi-fr.org/img/eicher.svg" width="100">
</a>