@model Demo.AspNetCore.MicroFrontendsInAction.Inspire.Models.RecommendationViewModel
<link href="/inspire/static/fragment.css" rel="stylesheet" />
<div class="inspire_fragment">
  <h2 class="inspire_headline">Recommendations</h2>
  <div class="inspire_recommendations">
    @foreach (string productId in Model.ProductsIds)
    {
        <a href="/product/@(productId)"><img src="https://mi-fr.org/img/@(productId).svg" /></a>
    }
  </div>
</div>
